<div id="bottom-menu-container" class="bottom-menu">
    <a id="bottom-menu-about-me-link" href="/">About Me</a> | 
    <a id="bottom-menu-linkedin-link" href="https://linkedin.com/in/daveqa" target="_blank">LinkedIn</a>  |  
    <a id="bottom-menu-github-link" href="https://github.com/drocpdp" target="_blank">Github</a>  |  
    <a id="bottom-menu-bitbucket-link" href="https://bitbucket.com/drocpdp" target="_blank">Bitbucket</a> --
    Copyright <div style="display:inline" id="copyright_year">2024</div> - David Eynon
</div>
